:root {
    --dark-blue: #363f5f;
    --green-dark: #2D4A22;
    --green-light: #3ba315;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Fonte de 15 pixels */
    font-size: 93.75%;
}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 1px;
    margin: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    /* 90 view port, é o tamanho da tela */
    width: min(90vw, 800px);
    margin: auto;
}

@media (min-width: 800px) {
    html {
        /* 14 pixels */
        font-size: 87.5
    }
}